{% extends 'turismoBahia/base.html' %}

{% block titulo %}  about {% endblock titulo %}

{% block portada %} ¿Te gustaria conocer un poco mas y ubicarte en la ciudad de Bahia Blanca? {% endblock %}

{% block subtitulo %} {% endblock subtitulo %}

{% block contenido %}
<p>
    "La ciudad de Manu" o donde "se hizo" Abel Pintos, es mucho mas que una cumbre de famoso o celebridades.
    <br><br>
    Soy Manuel Antonio Arceo y quiero que juntos nos guiemos por la ciudad de Bahia Blanca, lugar donde naci y vivo actualmente.
    <br><br>
    En el año 2014 inicie mis estudios en la Universidad de Belgrano. Alli me recibi como Tecnico en Hoteleria y Turismo.
    <br>
    Y como quien quiere la cosa, pandemia de por medio, la cual parece haber sido un sacudon para muchos. En mi caso, me abrio los ojos a nuevas ganas y nuevas preguntas, las cuales tenia que responder.
    <br><br>
    Es asi como comence a estudiar programacion, competencias digital y Python.
    Apasionado por ambas carreras, uni el turismo con la tecnologia. Naciendo asi este blog que interpela mis 2 caminos: la programacion y el turismo.
    Porque creo fervientemente que ambas van de la mano y se complementan. Porque sin tecnologia y avance no hay nuevos sitios turisticos y culturales, y sin turismo no hay programacion y desarrollo donde aplicar.
    <br><br>
    <strong>¿Suena bien? ¡Estoy seguro que seremos buenos compañeros de viaje!</strong>
</p>

{% endblock  %}