{% extends 'turismoBahia/base.html' %}

{% block titulo %}  Formulario Museo {% endblock titulo %}

{% block titulo %}  Formulario de Museo {% endblock titulo %}

{% block portada %} Muy bueno que quieras colaborar{% endblock %}

{% block subtitulo %}Este formulario fue creado, para que en caso de visitar algun museo y el mismo no se encuentre en la seccion de Museos, puedas ingresarlo a traves de este formulario y asi poder guardarlo{% endblock subtitulo %}



{% block contenido %}
    <form method="POST">{% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Crear">
    </form>
    
{% endblock contenido %}
    

