{% extends 'turismoBahia/base.html' %}
{% block titulo %}  Regristrarse {% endblock titulo %}
{% block portada %} Hola, nos alegra saber un poco mas de ti{% endblock %}
{% block subtitulo %} Para poder hacerlo, completa estos datos: {% endblock subtitulo %}



{% block contenido %}

    <form method="post">{% csrf_token %}

        {%if error %}
            <p style="color: red">{{error}}</p>
        {% endif %}    

        {{form.as_p }}

        <input type="submit" value="Registrarse">
        
    </form>


{% endblock %}