{% extends 'turismoBahia/base.html' %}

{% block titulo %}  Perfil {% endblock titulo %}

{% block portada %} Actualizando perfil de {{request.user.username}}{% endblock %}


{% block subtitulo %} {% endblock %}

{% block contenido %}



<form method="post">{% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="Actualizar"> 

</form>
<br>
<strong style="color: green;">Actualizar imagen de perfil:
    <a style="color: blue;" href="{% url 'añadir_avatar' %}">Añadir imagen</a>
</strong>


{% endblock contenido %}